@model List<Proyecto.BaseDatos.Propuestas>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/propuestasLayout.cshtml";
}

@functions {
    enum TiposDonacion
    {
        Monetario = 1,
        Insumo = 2,
        Hora = 3
    }
}

@if (Model.Count == 0)
{
    <div class="row mx-0 justify-content-lg-between">
        <div class="card-body px-4 pt-2 pb-1 mb-0 text-blue d-flex justify-content-around">
            <div class="col-lg-8 col-sm-8 my-4">
                <div class="alert alert-primary alert-dismissible fade show row" role="alert">
                    <i class="float-right d-flex fa fa-heart-o mr-2 fa-2x pt-1"></i>
                    <div class="col-md-10 pl-2">
                        <strong>No hay propuestas denunciadas. </strong>
                        <h6>Sigue Así! </h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="card py-1 px-2">
        <div class="card-body mt-4 px-5">

            <h4 class="text-blue font-weight-bold mb-3"><i class="fa fa-exclamation-circle pt-2 mr-2" aria-hidden="true"></i>Propuestas Denunciadas</h4>
            <hr />

            <table class="table table-borderless table-active text-center">
                <thead class="font-weight-bold text-uppercase">
                    <tr class="border-bottom border-primary">
                        <td>Id</td>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                        <td>Fecha Creacion</td>
                        <td>Fecha Fin</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var prop in Model)
                    {
                        <tr class=" border-bottom border-light my-5">
                            <td>@prop.IdPropuesta</td>
                            <td>@prop.Nombre</td>
                            <td>@prop.Descripcion</td>
                            <td>@prop.FechaCreacion</td>
                            <td>@prop.FechaFin</td>
                        </tr>


                    }

                </tbody>
            </table>
        </div>
    </div>
    

}
